* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



header {
    height: 20vh;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
}

.left h1 {
    margin-top: 20px;
}


header img {
    height: 80px;
}

.right input {
    margin-top: 35px;
}

section {
    padding: 2em;
    background-color: aqua;
    height: 80vh;
}

footer {
    display: flex;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 500px;
	height: 500px;
	border: 2px solid black;
}

.cell {
    padding: 0.9em;
	border: 2px solid black;
	height: calc(100% / 10);
	width: calc(100% / 10);
}

.cell.active {
	background-color: salmon;
}